{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Nova categoria</h3>
<div class="card">
	<div class="card-body">
		<form action="/admin/categorias/salvar" method="POST">
			<div class="col-md-6 colo">
				<label for="nome" class="col-form-label">Nome: </label>
				<input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control">
			</div>
			<div class="col-md-6">
				<label for="slug" class="col-form-label">Slug: </label>
				<input type="text" id="slug" name="slug" placeholder="Slug de categoria" class="form-control">
			</div>
			<div class="col-md-12">
				<button type="submit" class="btn btn-success mt-2">Criar categoria</button>
			</div>
			
		</form>
	</div>
</div>