
<h1>Categorias</h1>

{{#each categorias}}
<div class="card mt-3">
	<div class="card-boby">
		<a href="/categorias/{{slug}}"><h5>Categoria: {{nome}}</h5></a>
		<p>Slug: {{slug}}</p>
	</div>
</div>

{{else}}
<h4 class="mt-3">Não há nada aqui</h4>
{{/each}}